@import 'nib';
body
    background #e8eaf6

.action
    position absolute
    bottom 5px

    .edit,
    .back
        margin-bottom  5px
        width 90%

.contact-card
    cursor pointer
    .name,
    .surname
        font-weight bold

    .card-content
        padding 10px

    .card-image
        img
            width 70%

.contact-page
    font-size 1.3em
    .contact-img
        padding 5px 0 15px
        img
            width 50%
            border-radius 5px


.main
    .add-contact
        position fixed
        right 5px
        bottom 5px
        z-index 5

.add-page
    .back,
    .send
        width 48%