@import 'nib';
body
    background #e8eaf6

.contact-card
    //padding 10px
    //max-height 120px
    .name
        color: none

    .responsive-img
        border-radius 5px

    .card-content
        padding 10px
