@import 'nib';
html
    width 100%
body
    background #e8eaf6
    width 100%

.action
    .edit,
    .back,
    .auth
        margin-bottom 5px

.contact-card
    cursor pointer
    .name,
    .surname
        font-weight bold

    .card-content
        padding 10px

    .card-image
        img
            max-height 120px
            max-width 120px

.contact-page
    font-size 1.3em
    .contact-img
        padding 5px 0 15px
        img
            width 50%
            border-radius 5px
    .show-modal
        z-index 1003
        display block
        opacity 1
        transform scaleX(1)
        top 10%


.main
    .add-contact
        position fixed
        right 5px
        bottom 5px
        z-index 5

.add-page
    .back,
    .send
        width 48%

.edit-page
    .contact-img
        img
          min-width 120px
          height 120px