html {
  width: 100%;
}
body {
  background: #e8eaf6;
  width: 100%;
}
.action .edit,
.action .back,
.action .auth {
  margin-bottom: 5px;
}
.contact-card {
  cursor: pointer;
}
.contact-card .name,
.contact-card .surname {
  font-weight: bold;
}
.contact-card .card-content {
  padding: 10px;
}
.contact-card .card-image img {
  max-height: 120px;
  max-width: 120px;
}
.contact-page {
  font-size: 1.3em;
}
.contact-page .contact-img {
  padding: 5px 0 15px;
}
.contact-page .contact-img img {
  width: 50%;
  border-radius: 5px;
}
.contact-page .show-modal {
  z-index: 1003;
  display: block;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  top: 10%;
}
.main .add-contact {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 5;
}
.add-page .back,
.add-page .send {
  width: 48%;
}
.edit-page .contact-img img {
  min-width: 120px;
  height: 120px;
}
