<div class="add-page">
    <h4 class="center">Добавить контакт</h4>
    <div id="card-alert" class="card red lighten-2" ng-if="err.status" ng-click="err.status = false">
        <div class="card-content white-text">
            <p class="center">{{err.message}}</p>
        </div>
    </div>
    <form ng-submit="submit(photo)" name="addContactForm">
        <div class="file-field input-field">
            <div class="btn">
                File
                <input name="photo" type="file" ng-model="photo" ngf-select accept="image/*" ngf-max-size="2MB">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Фотография пользователя">
            </div>
        </div>
        <div class="input-field">
            <input class="validate" id="name" type="text" name="name" ng-model="name" maxlength="15" required>
            <label for="name">Имя *</label>
        </div>
        <div class="input-field">
            <input class="validate" id="surname" type="text" name="surname" ng-model="surname" maxlength="15" required>
            <label for="surname">Фамилия *</label>
        </div>
        <div class="input-field">
            <input class="validate" id="phone" type="tel" pattern="(\+?\d[- .]*){7,13}" name="phone" ng-model="phone" required>
            <label for="phone">Номер телефона *</label>
        </div>
        <div class="input-field">
            <input class="validate" id="email" type="email" name="email" ng-model="email" maxlength="15">
            <label for="email">Електронная почта</label>
        </div>
        <div class="button center">
            <a class="back btn waves-effect waves-light red lighten-2" href="#/list">
                Назад<i class="material-icons left">list</i>
            </a>
            <button class="send btn waves-effect waves-light" ng-disabled="!addContactForm.$valid" type="submit" name="action">
                Добавить<i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>