<div class="contact-page col s12 m8 offset-m2 l6 offset-l3">
    <div class="contact-img center ">
        <img class="z-depth-2" ng-src="./img/{{contact.photo}}" alt="{{contact.name + ' ' + contacts.surname}}">
    </div>
    <div class="row">
        <div class="col s6 right-align"><b>Имя</b></div><div class="col s6">{{contact.name}}</div>
        <div class="col s6 right-align"><b>Фамилия</b></div><div class="col s6">{{contact.surname}}</div>
        <div class="col s6 right-align"><b>Номер телефона</b></div><div class="col s6">{{contact.number}}</div>
        <div class="col s6 right-align"><b>Email</b></div><div class="col s6">{{contact.email}}</div>
    </div>
    <div class="action center">
        <a class="edit btn waves-effect waves-light green lighten-2" href="#/edit/{{contact.id}}">
            Редактировать<i class="material-icons left">edit</i>
        </a>
        <a class="back btn waves-effect waves-light red lighten-2" href="#/">
            Назад<i class="material-icons left">list</i>
        </a>
    </div>
</div>