<!doctype html>
<html  ng-app="contactsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./js/angular.min.js"></script>
    <script src="./js/contacts.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <link rel="stylesheet" href="./css/main.css">
</head>
<body class="row">
    <div class="main col s12 m8 offset-m2 l6 offset-l3" ng-controller="ContactsCtrl">
        <form>
            <input type="text" ng-model="search" placeholder="Поиск...">
        </form>
        <div ng-repeat="contact in contacts | orderBy:'name' | filter:search">
            <div class="contact-card card horizontal indigo lighten-3" ng-click="alert()">
                <div class="card-image">
                    <img src="./img/photo_1.jpg">
                </div>
                <div class="card-content">
                    <span class="name flow-text">
                        {{contact.name}}
                    </span>
                    <span class="surname flow-text">
                        {{contact.surname}}
                    </span>
                    <div class="phone flow-text">
                        {{contact.number}}
                    </div>
                </div>
            </div>
        </div>
        <div class="add-contact">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
    </div>
</body>
</html>